<div class="container-fluid">
    <div class="row">
        <div class="col border border-dark mx-1 bg-danger">
            <h4 class="my-2  text-center">Ingrese un producto nuevo</h4>
            <form class="m-1" action="/api/productos" method="post">
                <div class="mb-3">
                    <label for="title" class="form-label">Nombre</label>
                    <input type="text" class="form-control" name="title" id="title">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Precio</label>
                    <input type="number" class="form-control" name="price" id="price">
                </div>
                <div class="mb-3">
                    <label for="ruta" class="form-label">URL Imagen</label>
                    <input type="text" class="form-control" name="ruta" id="ruta">
                </div>
                <button type="submit" class="btn btn-warning my-2">Enviar</button>
            </form>
        </div>

        <div class="col border border-dark mx-1 bg-danger">
            <h4 class="my-2  text-center">Ingrese ID del producto que desea eliminar</h4>
            <form class="m-1" action="/api/productos/delete" method="post">
                <div class="mb-3">
                    <label for="id" class="form-label">ID</label>
                    <input type="number" class="form-control" name="id" id="id">
                </div>
                
                <button type="submit" class="btn btn-warning my-2">Eliminar</button>
            </form>
        </div>

        <div class="col">
            <div class="col border border-dark mx-1 bg-danger">
                <h4 class="my-2 text-center">Ingrese información a actualizar</h4>
                <span>Ingrese el ID y el/los campo/s a actualizar.</span>
                <form class="m-1" action="/api/productos/update" method="post">
                    <div class="mb-3">
                        <label for="id" class="form-label">ID</label>
                        <input type="number" class="form-control" name="id" id="id">
                    </div>
                    <div class="container-fluid bg-secondary">
                        <div class="mb-3">
                            <label for="title" class="form-label">Nombre</label>
                            <input type="text" class="form-control" name="title" id="title">
                        </div>
                        <div class="mb-3">
                            <label for="price" class="form-label">Precio</label>
                            <input type="number" class="form-control" name="price" id="price">
                        </div>
                        <div class="mb-3">
                            <label for="ruta" class="form-label">URL Imagen</label>
                            <input type="text" class="form-control" name="ruta" id="ruta">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-warning my-2">Actualizar</button>
                </form>
            </div>
        </div>
    </div>
</div>
