<h4>Lista de productos</h4>

<% if(productsExists){%>
<div class="container-fluid">
    <table class="table table-light">
        <tr class="table-primary text-center">
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Imagen</th>
        </tr>

        <%prods.forEach(function(prods) {%>
            <tr class="text-center align-middle">
                <td>
                    <%=prods.id%>
                </td>
                <td>
                    <%=prods.title%>
                </td>
                <td>
                    <%=prods.price%>
                </td>
                <td>
                    <img class="rounded mx-auto d-block img-thumbnail" src=<%=prods.ruta%>>
                </td>
            </tr>
            <%});%>
        <%}else{%>
            <div class="container-fluid">
                <h4 class="alert alert-danger">No se encontraron productos</h4>
            </div><%}%>
    </table>



</div>